.viblo-navbar {
  min-height: $navbar-height;
  z-index: 1000;

  & + main .hero {
    margin-top: -$navbar-height;
    padding-top: $navbar-height;
  }

  .navbar-item {
    border-radius: 4px;
    margin: 2px;
    text-transform: capitalize;
  }

  &:not(.is-sticky) {
    background: transparent;
    .logo-light {
      display: none;
    }
    .logo-dark {
      display: inline-block;
    }
    .languages-menu .button:hover,
    .languages-menu .button:active,
    .navbar-item[data-active="true"], .navbar-item[data-active="true"]:hover {
      background: #ffffff !important;
      color: #333333 !important;
    }
    .languages-menu.is-active button {
      background: inherit;
    }
  }

  @media screen and (min-width: 1700px) {
    .container-fluid {
      max-width: 1680px;
    }
    .navbar-item {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    .navbar-item[data-active="true"] {
      background: #f4f4f4 !important;
      color: #4771d9 !important;
    }

    + main {
      padding-top: $navbar-height;
    }
  }


  &.is-open-mobile-menu,
  &.is-sticky {
    .navbar-burger {
      color: #4a4a4a !important;
    }
    .logo-dark {
      display: none;
    }
    .logo-light {
      display: inline-block;
      height: 28px;
    }
    .languages-menu .button {
      color: #333333 !important;
    }
    .navbar-brand:hover .navbar-item {
      background: transparent !important;
    }
  }

  .languages-menu {
    .dropdown-trigger .button {
      border: none;
      outline: none !important;
      height: $navbar-height - 0.25rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      span + span {
        margin-left: 0.3rem;
      }
    }
  }
}
