html, body, p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 2.2;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1172px;
    width: 1172px;
  }
}
