.section-creating {
  background: #1983f4;
  overflow-x: hidden;
  .steps-bar {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 599px) {
      flex-direction: column;
    }
    li {
      display: flex;
      flex: 1;
      flex-direction: column;
      color: #ffffff;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      position: relative;
      @media screen and (max-width: 599px) {
        flex-direction: row;
        align-items: center;
        span {
          margin-left: 1rem;
          width: calc(100% - 120px);
        }
      }
      &:before {
        align-self: center;
        background-position: center !important;
        background-size: contain !important;
        content: '';
        display: inline-block;
        z-index: 20;
        @media screen and (max-width: 599px) {
          width: 120px;
          height: 159px;
        }
        @media screen and (min-width: 600px) and (max-width: 899px) {
          width: 150px;
          height: 159px;
        }
        @media screen and (min-width: 900px) {
          width: 231px;
          height: 246px;
        }
      }
      &:not(:last-child):after {
        content: '';
        height: 15px;
        width: 100%;
        background: #5be0e0;
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 1;
        @media screen and (max-width: 599px) {
          height: 100%;
          width: 15px;
          left: 55px;
          top: 50%;
        }
        @media screen and (min-width: 600px) and (max-width: 899px) {
          top: 75px;
        }
        @media screen and (min-width: 900px) {
          top: 116px;
        }
      }
      &:first-child:before {
        background: url(~assets/icons/step-01.png) no-repeat;
      }
      &:nth-child(2):before {
        background: url(~assets/icons/step-02.png) no-repeat;
      }
      &:nth-child(3):before {
        background: url(~assets/icons/step-03.png) no-repeat;
      }
    }
  }
}
